<footer class="footer pt--64">
    <div class="container">
        <div class="site--footer">
            <div class="footer--navigation">
                <div class="navigation--bar">
                    <div class="flex">
                        <div class="nav--col">
                            <h6>Services</h6>
                            <ul class="nav--links">
                                <li><a href="#">Custom Software Development</a></li>
                                <li><a href="#">Mobile App Development</a></li>
                                <li><a href="#">Full-Stack Development</a></li>
                                <li><a href="#">eCommerce Development</a></li>
                                <li><a href="#">UI &amp; UX Design</a></li>
                                <li><a href="#">CMS Development</a></li>
                                <li><a href="#">Hire Dedicated Team</a></li>
                                <li><a href="#">IT Consultation</a></li>
                            </ul>
                        </div>
                        <div class="nav--col">
                            <h6>Industries</h6>
                            <ul class="nav--links">
                                <li><a href="#">Retail &amp; eCommerce</a></li>
                                <li><a href="#">Startups</a></li>
                                <li><a href="#">Transportation &amp; Logistics</a></li>
                                <li><a href="#">EdTech</a></li>
                                <li><a href="#">Healthcare</a></li>
                                <li><a href="#">Travel &amp; Hospitality</a></li>
                                <li><a href="#">Real Estate</a></li>
                                <li><a href="#">Government &amp; Public Sector</a></li>
                            </ul>
                        </div>
                        <div class="nav--col">
                            <h6>Technologies</h6>
                            <ul class="nav--links">
                                <li><a href="#">.Net Core</a></li>
                                <li><a href="#">ASP.NET MVC</a></li>
                                <li><a href="#">Angular</a></li>
                                <li><a href="#">Swift</a></li>
                                <li><a href="#">Kotlin</a></li>
                                <li><a href="#">React Native</a></li>
                                <li><a href="#">CodeIgniter</a></li>
                                <li><a href="#">Laravel</a></li>
                            </ul>
                        </div>
                        <div class="nav--col">
                            <h6>Explore</h6>
                            <ul class="nav--links">
                                <li><a href="#">Portfolio</a></li>
                                <li><a href="#">About Evince</a></li>
                                <li><a href="#">Engagement Models</a></li>
                                <li><a href="#" target="_blank">Corporate Profile</a></li>
                                <li><a href="#">How We Work</a></li>
                                <li><a href="#">Join Our Team</a></li>
                                <li><a href="#" target="_blank">Our Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer--organisation border--top">
                <div class="organisation--bar">
                    <div class="flex">
                        <div class="or--data">
                            <div class="or--info">
                                <div class="f--logo">
                                    <a href="https://evincedev.com" title="EvinceDev">
                                        <img src="~/image/ev--logo--footer.svg" alt="EvinceDev" width="228" height="71">
                                    </a>
                                </div>
                                <div class="f--details">
                                    <p>Evince Development is a team of passionate and top-rated handpicked professionals providing excellent software solutions to help businesses thrive in today's Digital landscape.</p>
                                </div>
                            </div>
                            <div class="newsletter">
                                <h6>Stay up to date</h6>
                                <div class="newsletter--form">
                                    <form id="newsletter--form">
                                        <div class="form--wrap">
                                            <input class="form--control" type="text=" placeholder="Enter your email">
                                            <button type="button" aria-label="Newsletter" class="arrow--btn"><svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.9454 9.68736L3.14857 0.84673C2.88536 0.693239 2.58227 0.621937 2.27823 0.641983C1.9742 0.66203 1.6831 0.772508 1.44232 0.95923C1.19642 1.15324 1.01788 1.41979 0.932052 1.72102C0.846225 2.02226 0.85747 2.34287 0.964191 2.63735L3.59857 9.99673C3.62522 10.0701 3.67358 10.1336 3.73722 10.1788C3.80086 10.2241 3.87676 10.2488 3.95482 10.2499H10.7236C10.9182 10.2468 11.1067 10.3176 11.2511 10.4481C11.3956 10.5786 11.4851 10.759 11.5017 10.953C11.5081 11.0553 11.4934 11.1579 11.4586 11.2544C11.4238 11.3509 11.3696 11.4392 11.2993 11.5139C11.229 11.5886 11.1441 11.648 11.05 11.6886C10.9558 11.7292 10.8543 11.7501 10.7517 11.7499H3.95482C3.87676 11.7509 3.80086 11.7756 3.73722 11.8209C3.67358 11.8661 3.62522 11.9296 3.59857 12.003L0.964191 19.3624C0.885147 19.5891 0.861329 19.8314 0.894716 20.0691C0.928103 20.3069 1.01773 20.5333 1.15616 20.7295C1.29458 20.9256 1.47781 21.086 1.69063 21.1971C1.90345 21.3083 2.13972 21.3671 2.37982 21.3686C2.63531 21.3675 2.88654 21.303 3.11107 21.1811L18.9454 12.3124C19.1774 12.1806 19.3703 11.9897 19.5045 11.7592C19.6388 11.5286 19.7095 11.2666 19.7095 10.9999C19.7095 10.7331 19.6388 10.4711 19.5045 10.2405C19.3703 10.01 19.1774 9.81909 18.9454 9.68736Z" fill="#61B984" /></svg></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="or--address flex">
                            <div class="address--card">
                                <h6>Corporate Office</h6>
                                <div class="address">
                                    <img src="~/image/Flag_of_the_United_States.svg" alt="United States" width="46" height="25">
                                    <p>P.T.No.1486Part, 5th Floor, Lahari Estate, Hyderabad, Telangana, 500090, India</p>
                                    <a href="https://app.hubspot.com/meetings/martin136">Meet Us Now</a>
                                </div>
                            </div>
                            <div class="contact--card">
                                <div class="contact">
                                    <h6>Contact Us</h6>
                                    <ul class="co--links">
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="18" height="18" x="0" y="0" viewBox="0 0 433.664 433.664" style="enable-background:new 0 0 18 18" xml:space="preserve" class><g><path d="M189.376 271.616c-4.096 2.56-8.704 3.584-12.8 3.584s-8.704-1.024-12.8-3.584L0 147.2v165.376c0 35.328 28.672 64 64 64h305.664c35.328 0 64-28.672 64-64V147.2L189.376 271.616z" fill="#1F1E1E" data-original="#1F1E1E"></path><path d="M369.664 57.088H64c-30.208 0-55.808 21.504-61.952 50.176l215.04 131.072 214.528-131.072c-6.144-28.672-31.744-50.176-61.952-50.176z" fill="#1F1E1E" data-original="#1F1E1E"></path></g></svg>
                                            <a href="/cdn-cgi/l/email-protection#a9c0c7cfc6e9ccdfcdd9c587cac6c4"><span class="__cf_email__" data-cfemail="30595e565f70554654405c1e535f5d">[info@ysysinfoservices.com]</span></a>
                                        </li>
                                        <!--<li>
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="18" height="18" x="0" y="0" viewBox="0 0 100 100" style="enable-background:new 0 0 18 18" xml:space="preserve" class><g><path d="M87.6 58.4c5.8-26-17-49.6-43.8-45.1C29.3 4.3 10 14.5 10 31.8c0 4 1.1 7.8 3 11-5.3 26.1 17.6 49.4 44.4 44.5 18.9 10 39.7-9.9 30.2-28.9zM62.2 74.1c-7 2.9-18.6 2.9-25.6-.8C26.6 68 24.9 56 33.5 56c6.5 0 4.4 7.6 11 10.6 3 1.4 9.5 1.5 13.2-1s3.4-6.4 1.4-8.2c-5.3-4.9-20.6-3-27.6-11.6-3-3.7-3.6-10.3.1-15.1 6.5-8.4 25.6-8.9 33.8-2.6 7.6 5.9 5.5 13.6-.6 13.6-7.3 0-3.5-9.6-15.4-9.6-8.6 0-12 6.1-5.9 9.1C51.7 45.4 72.6 44 72.6 60c0 6.6-4.1 11.5-10.4 14.1z" fill="#1F1E1E" data-original="#1F1E1E" class></path></g></svg>
                                            <a href="skype:evince.development">evince.development</a>
                                        </li>-->
                                        <li>
                                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="18" height="18" x="0" y="0" viewBox="0 0 480.56 480.56" style="enable-background:new 0 0 18 18" xml:space="preserve" class><g><path d="M365.354 317.9c-15.7-15.5-35.3-15.5-50.9 0-11.9 11.8-23.8 23.6-35.5 35.6-3.2 3.3-5.9 4-9.8 1.8-7.7-4.2-15.9-7.6-23.3-12.2-34.5-21.7-63.4-49.6-89-81-12.7-15.6-24-32.3-31.9-51.1-1.6-3.8-1.3-6.3 1.8-9.4 11.9-11.5 23.5-23.3 35.2-35.1 16.3-16.4 16.3-35.6-.1-52.1-9.3-9.4-18.6-18.6-27.9-28-9.6-9.6-19.1-19.3-28.8-28.8-15.7-15.3-35.3-15.3-50.9.1-12 11.8-23.5 23.9-35.7 35.5-11.3 10.7-17 23.8-18.2 39.1-1.9 24.9 4.2 48.4 12.8 71.3 17.6 47.4 44.4 89.5 76.9 128.1 43.9 52.2 96.3 93.5 157.6 123.3 27.6 13.4 56.2 23.7 87.3 25.4 21.4 1.2 40-4.2 54.9-20.9 10.2-11.4 21.7-21.8 32.5-32.7 16-16.2 16.1-35.8.2-51.8-19-19.1-38.1-38.1-57.2-57.1zM346.254 238.2l36.9-6.3c-5.8-33.9-21.8-64.6-46.1-89-25.7-25.7-58.2-41.9-94-46.9l-5.2 37.1c27.7 3.9 52.9 16.4 72.8 36.3 18.8 18.8 31.1 42.6 35.6 68.8zM403.954 77.8c-42.6-42.6-96.5-69.5-156-77.8l-5.2 37.1c51.4 7.2 98 30.5 134.8 67.2 34.9 34.9 57.8 79 66.1 127.5l36.9-6.3c-9.7-56.2-36.2-107.2-76.6-147.7z" fill="#1F1E1E" data-original="#1F1E1E" class></path></g></svg>
                                            <a href="tel:+918143778277">(+91) 8143778277</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--<div class="social--media">
                                    <h6>Follow Us</h6>
                                    <ul class="so--links flex justify-content-between">
                                        <li class="linkedin">
                                            <a href="https://www.linkedin.com/company/evince-development/" target="_blank">
                                                <img src="~/image/social/f--social-linkedin.svg" alt="linkedin" width="24" height="24">
                                                <img src="~/image/social/f--social-linkedin-color.svg" alt="linkedin" width="24" height="24">
                                            </a>
                                        </li>
                                        <li class="twitter">
                                            <a href="https://twitter.com/evincedev/" target="_blank">
                                                <img src="~/image/social/f--social-twitter.svg" alt="twitter" width="24" height="24">
                                                <img src="~/image/social/f--social-twitter-color.svg" alt="twitter" width="24" height="24">
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://www.instagram.com/evincedevelopment/" target="_blank">
                                                <img src="~/image/social/f--social-instagram.svg" alt="instagram" width="24" height="24">
                                                <img src="~/image/social/f--social-instagram-color.svg" alt="instagram" width="24" height="24">
                                            </a>
                                        </li>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com/EvinceDev" target="_blank">
                                                <img src="~/image/social/f--social-facebook.svg" alt="facebook" width="24" height="24">
                                                <img src="~/image/social/f--social-facebook-color.svg" alt="facebook" width="24" height="24">
                                            </a>
                                        </li>
                                        <li class="dribbble">
                                            <a href="https://dribbble.com/EvinceDevelopment/" target="_blank">
                                                <img src="~/image/social/f--social-dribbble.svg" alt="dribbble" width="24" height="24">
                                                <img src="~/image/social/f--social-dribbble-color.svg" alt="dribbble" width="24" height="24">
                                            </a>
                                        </li>
                                        <li class="behance">
                                            <a href="https://www.behance.net/evince-development/" target="_blank">
                                                <img src="~/image/social/f--social-behance.svg" alt="behance" width="24" height="24">
                                                <img src="~/image/social/f--social-behance-color.svg" alt="behance" width="24" height="24">
                                            </a>
                                        </li>
                                        <li class="pinterest">
                                            <a href="https://www.pinterest.com/evincedev/" target="_blank">
                                                <img src="~/image/social/f--social-pinterest.svg" alt="pinterest" width="24" height="24">
                                                <img src="~/image/social/f--social-pinterest-color.svg" alt="pinterest" width="24" height="24">
                                            </a>
                                        </li>
                                        <li class="youtube">
                                            <a href="https://www.youtube.com/channel/UCAVTlao9pfFsOlb9FECQmZg" target="_blank">
                                                <img src="~/image/social/f--social-youtube.svg" alt="youtube" width="24" height="24">
                                                <img src="~/image/social/f--social-youtube-color.svg" alt="youtube" width="24" height="24">
                                            </a>
                                        </li>
                                    </ul>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="footer--achievements border--top">
            <div class="achievement--bar">
            <div class="flex">
            <div class="certificates">
            <h6>Certificates</h6>
            <div class="flex">
            <div class="ce--list">
            <div class="ce--image">
            <img src="~/image/awards-recognition/awards-cmmi3.svg" alt="CMMI level 3" width="115" height="115">
            </div>
            <div class="ce--details">
            <p>CMMI level 3 Certified Software Development Company</p>
            </div>
            </div>
            <div class="ce--list">
            <div class="ce--image">
            <img src="~/image/awards-recognition/awards-ISO-2013.svg" alt="ISO Information Security Management System" width="115" height="115">
            </div>
            <div class="ce--details">
            <p>ISO Information Security Management System Certified Company </p>
            </div>
            </div>
            <div class="ce--list">
            <div class="ce--image">
            <img src="~/image/awards-recognition/awards-ISO-2015.svg" alt="ISO Quality Management System" width="115" height="115">
            </div>
            <div class="ce--details">
            <p>ISO Quality Management System Certified Company</p>
            </div>
            </div>
            <div class="ce--list">
            <div class="ce--image">
            <img src="~/image/awards-recognition/awards-magento-dev-plus.svg" alt="Magento Plus Certified" width="115" height="115">
            </div>
            <div class="ce--details">
            <p>Magento Developer and Developer Plus Certified Company</p>
            </div>
            </div>
            </div>
            </div>
            <div class="partnership">
            <h6>Partnership</h6>
            <div class="flex">
            <div class="pa--list">
            <div class="pa--image">
            <img src="~/image/awards-recognition/awards-MS-gold-partner.svg" alt="Microsoft Gold Partner" width="115" height="115">
            </div>
            <div class="pa--details">
            <p>Official Gold Microsoft Development Partner</p>
            </div>
            </div>
            <div class="pa--list">
            <div class="pa--image">
            <img src="~/image/awards-recognition/awards-shopify.svg" alt="Shopify Development Partner" width="115" height="115">
            </div>
            <div class="pa--details">
            <p>Certified Shopify Development Partner</p>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>-->
            <!--<div class="footer--awards border--top">
            <div class="awards--bar sliderLoad">
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-branding2020.webp">
            <img src="~/image/awards-recognition/awards-branding2020.svg" alt="Top Clutch Branding Agencies 2020" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-clutch-5.webp">
            <img src="~/image/awards-recognition/awards-clutch-5.svg" alt="Clutch Logo" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-clutch2021.webp">
            <img src="~/image/awards-recognition/awards-clutch2021.png" alt="Top 1000 Clutch Companies 2021" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-clutch2022.webp">
            <img src="~/image/awards-recognition/awards-clutch2022.png" alt="Top 1000 Clutch Companies 2022" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-design2021.webp">
            <img src="~/image/awards-recognition/awards-design2021.svg" alt="Design Awards 2021" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-ec-dev2021.webp">
            <img src="~/image/awards-recognition/awards-ec-dev2021.jpg" alt="Clutch eCommerce Development Awards 2021" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-eCommerce-10.webp">
            <img src="~/image/awards-recognition/awards-eCommerce-10.svg" alt="Top eCommerce Development Awards" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-magento-dev.webp">
            <img src="~/image/awards-recognition/awards-magento-dev.svg" alt="Magento Certified Developer Awards" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-magento-dev-plus.webp">
            <img src="~/image/awards-recognition/awards-magento-dev-plus.svg" alt="Magento Plus Development Award" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-mobile-development.webp">
            <img src="~/image/awards-recognition/awards-mobile-development.svg" alt="Mobile App Development Awards" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-rectnative.webp">
            <img src="~/image/awards-recognition/awards-rectnative.svg" alt="React Native Award" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-sitecore.webp">
            <img src="~/image/awards-recognition/awards-sitecore.svg" alt="Sitecore Developers Awards" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-so-dev2021.webp">
            <img src="~/image/awards-recognition/awards-so-dev2021.jpg" alt="Top Clutch Software Developers Awards 2021" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-top-dev500.webp">
            <img src="~/image/awards-recognition/awards-top-dev500.svg" alt="Top 500 Web Developers Awards 2022" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-top-dev500-app.webp">
            <img src="~/image/awards-recognition/awards-top-dev500-app.svg" alt="Top 500 App Developers Awards 2022" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-top-dev-react.webp">
            <img src="~/image/awards-recognition/awards-top-dev-react.svg" alt="Top React Native Development Awards " width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-web-developers.webp">
            <img src="~/image/awards-recognition/awards-web-developers.svg" alt="Web Developers Awards" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-wp-dev2022.webp">
            <img src="~/image/awards-recognition/awards-wp-dev2022.svg" alt="Clutch Wordpress Developers Awards 2022" width="100" height="100">
            </picture>
            </div>
            <div class="f--aw-item">
            <picture>
            <source type="image/webp" srcset="~/image/awards-recognition/awards-zend-php.webp">
            <img src="~/image/awards-recognition/awards-zend-php.svg" alt="Zend Certified PHP Awards" width="100" height="100">
            </picture>
            </div>
            </div>
            </div>-->
            <div class="site--info border--top">
                <div class="f--bar flex justify-content-between align-items-center">
                    <div class="copyright">
                        <p> &copy;2024 <a href="https://evincedev.com">EvinceDev.</a> All rights reserved.</p>
                        <p>
                            <a target="_blank" href="//www.dmca.com/Protection/Status.aspx?ID=3d74979f-d990-4e7d-92e7-0bb3d8f00bf4" title="DMCA.com Protection Status" class="dmca-badge">
                                <img src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=3d74979f-d990-4e7d-92e7-0bb3d8f00bf4" width="121" height="24" alt="DMCA.com Protection Status" />
                            </a>
                            <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
                        </p>
                    </div>
                    <div class="cms">
                        <a href="privacy-policy">Privacy Policy</a>
                        <a href="terms-conditions">Terms of use</a>
                        <a href="sitemap">Sitemap</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>