<header class="header">
    <div class="container">
        <div class="header--inner flex justify-content-between align-items-center">
            <div class="header--logo">
                <a class="link" href="@Url.Action("Index", "Home")">
                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20.1068 12.2051C9.45864 12.873 6.61132 21.9493 6.61132 21.9493C6.61132 21.9493 6.53331 22.3815 6.49431 23.0102C6.49431 23.4816 6.4553 24.1496 6.80634 24.3068C7.89847 24.5032 10.3557 24.7783 14.4512 24.1496C14.4512 24.1889 14.7632 23.9139 14.7632 23.9531C11.9549 29.5325 6.65032 30.3576 6.65032 30.3576C6.18227 37.155 4.6611 42.9308 2.67188 46.0741C17.0645 46.0741 23.6172 36.5263 25.3724 31.2613L30.365 36.2513C32.7443 33.6974 34.2264 30.279 34.2264 26.4678C34.2654 18.6095 27.9467 12.2051 20.1068 12.2051Z" fill="#61B984" />
                        <path d="M39.0631 7.80509C28.6879 -2.60707 12.9692 -2.37133 2.75 7.13714C3.80312 9.25886 5.3633 12.245 6.22139 16.0955C13.3202 6.15486 26.2307 6.70494 33.1344 13.6595C39.9602 20.5354 39.7262 31.9299 33.0564 38.8844L36.9959 42.8135C35.8257 42.8135 32.4324 42.8135 32.3544 42.8135C32.1593 42.8135 32.1203 42.9314 32.1983 43.0886C32.2373 43.1672 32.2763 43.285 32.3153 43.3636C33.0954 45.0531 33.6805 46.3105 34.4216 48C36.2548 46.8212 37.698 45.6425 38.7121 44.6209C49.0872 34.3266 49.2433 18.0208 39.0631 7.80509Z" fill="#3B302D" />
                    </svg>
                </a>
            </div>
            <div class="header--navigation">
                <span class="ham--icon">
                    <span>Menu</span>
                    <i class="ham--bar">
                        <span></span>
                        <span></span>
                    </i>
                </span>
                <nav class="ed--menu">
                    <span class="menu--title menu--toggle">
                        <div class="c--icon hover--icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.7031 16.8849L11.1231 12.2949L15.7031 7.70492L14.2931 6.29492L8.29313 12.2949L14.2931 18.2949L15.7031 16.8849Z" fill="#2C2422" />
                            </svg>
                        </div>
                        Menu
                    </span>
                    <ul class="menu--items flex justify-content-between">
                        <li class="item has--children">
                            <span class="link">
                                Services
                                <div class="c--icon hover--icon">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.7031 16.8849L11.1231 12.2949L15.7031 7.70492L14.2931 6.29492L8.29313 12.2949L14.2931 18.2949L15.7031 16.8849Z" fill="#2C2422"></path>
                                    </svg>
                                </div>
                            </span>
                            <div class="sub--navigation">
                                <div class="sub--navigation-wrapper">
                                    <div class="container">
                                        <span class="menu--title">
                                            <div class="c--icon hover--icon">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M15.7031 16.8849L11.1231 12.2949L15.7031 7.70492L14.2931 6.29492L8.29313 12.2949L14.2931 18.2949L15.7031 16.8849Z" fill="#2C2422" />
                                                </svg>
                                            </div>
                                            Services
                                        </span>
                                        <ul class="sub--menu--items">
                                            <!--<li class="sub--item">
                                            <a href="custom-software-development">Custom Software Development</a>
                                            <div class="c--icon hover--icon">
                                            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                            </svg>
                                            </div>
                                            </li>-->
                                            <li class="sub--item">
                                                <a href="mobile-app-development-services.html">Mobile App Development</a>
                                                <div class="c--icon hover--icon">
                                                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                                    </svg>
                                                </div>
                                            </li>
                                            <li class="sub--item">
                                                <a href="hire-full-stack-developer.html">Full-Stack Development</a>
                                                <div class="c--icon hover--icon">
                                                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                                    </svg>
                                                </div>
                                            </li>
                                            <!--<li class="sub--item">
                                            <a href="ai-iot-solutions">AI & IoT Solutions</a>
                                            <div class="c--icon hover--icon">
                                            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                            </svg>
                                            </div>
                                            </li>-->
                                            <!--<li class="sub--item">
                                            <a href="ecommerce-development">eCommerce Development</a>
                                            <div class="c--icon hover--icon">
                                            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                            </svg>
                                            </div>
                                            </li>-->
                                            <!--<li class="sub--item">
                                            <a href="ui-ux-design-services.html">UI/UX Design</a>
                                            <div class="c--icon hover--icon">
                                            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                            </svg>
                                            </div>
                                            </li>-->
                                            <!--<li class="sub--item">
                                            <a href="cms-development-services.html">CMS Development</a>
                                            <div class="c--icon hover--icon">
                                            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                            </svg>
                                            </div>
                                            </li>-->
                                            <li class="sub--item">
                                                <a href="digital-marketing-services.html">Digital Marketing</a>
                                                <div class="c--icon hover--icon">
                                                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                                    </svg>
                                                </div>
                                            </li>
                                            <!--<li class="sub--item">
                                            <a href="contact-us.html">Hire Dedicated Team</a>
                                            <div class="c--icon hover--icon">
                                            <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                            </svg>
                                            </div>
                                            </li>-->
                                            <li class="sub--item">
                                                <a href="it-consulting-services">IT Consultation</a>
                                                <div class="c--icon hover--icon">
                                                    <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                                                    </svg>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--<li class="item">
                        <a class="link" href="portfolio-listing.html">Work</a>
                        </li>-->
                        <li class="item">
                            <a class="link" href="@Url.Action("Technologies", "Home")">Technology</a>
                        </li>
                        @* <li class="item has--children">
                        <span class="link">
                        Industries
                        <div class="c--icon hover--icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.7031 16.8849L11.1231 12.2949L15.7031 7.70492L14.2931 6.29492L8.29313 12.2949L14.2931 18.2949L15.7031 16.8849Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </span>
                        <div class="sub--navigation">
                        <div class="sub--navigation-wrapper">
                        <div class="container">
                        <span class="menu--title">
                        <div class="c--icon hover--icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.7031 16.8849L11.1231 12.2949L15.7031 7.70492L14.2931 6.29492L8.29313 12.2949L14.2931 18.2949L15.7031 16.8849Z" fill="#2C2422" />
                        </svg>
                        </div>
                        Industries
                        </span>
                        <ul class="sub--menu--items">
                        <li class="sub--item">
                        <a href="#">Retail & eCommerce</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="#">Startups</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="#">Transportation & Logistics</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="#">Enterprises</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="edutech-digital-solutions ">EdTech</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="healthcare-digital-solutions">Healthcare</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="automotive-digital-transformation">Automotive</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="fintech-digital-solutions">Fintech</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="travel-hospitality-digital-transformation">Travel & Hospitality</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="real-estate-digital-transformation">Real Estate</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="on-demand-development">On Demand</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        <li class="sub--item">
                        <a href="government-and-public-sector-digital-transformation">Government & Public Sector</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        </ul>
                        </div>
                        </div>
                        </div>
                        </li>
                        <li class="item">
                        <a class="link" href="@Url.Action("Process", "Home")">Process</a>
                        </li>
                        <li class="item has--children">
                        <span class="link">
                        Company
                        <div class="c--icon hover--icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.7031 16.8849L11.1231 12.2949L15.7031 7.70492L14.2931 6.29492L8.29313 12.2949L14.2931 18.2949L15.7031 16.8849Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </span>
                        <div class="sub--navigation">
                        <div class="sub--navigation-wrapper">
                        <div class="container">
                        <span class="menu--title">
                        <div class="c--icon hover--icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.7031 16.8849L11.1231 12.2949L15.7031 7.70492L14.2931 6.29492L8.29313 12.2949L14.2931 18.2949L15.7031 16.8849Z" fill="#2C2422" />
                        </svg>
                        </div>
                        Company
                        </span>
                        <ul class="sub--menu--items">
                        <li class="sub--item">
                        <a href="about-us">About Evince</a>
                        <div class="c--icon hover--icon">
                        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#2C2422"></path>
                        </svg>
                        </div>
                        </li>
                        </ul>
                        </div>
                        </div>
                        </div>
                        </li> *@
                        <!--<li class="item">
                        <a class="link" href="https://ysysinfoservices.com/blog/">Insights</a>
                        </li>-->
                    </ul>
                </nav>
            </div>
            <div class="header--action">
                <a class="ed--btn transparent" href="contact-us.html">Contact Us</a>
            </div>
        </div>
    </div>
</header>