@{
    ViewData["Title"] = "How we work";
}

<div>
    <div id="cookie-notice" class="section--cookie flex justify-content-center align-items-center border--top">
        <p class="text--xs">We use cookies for best experience on website. By using our site you agree to <a aria-label="Privacy Policy" role="button" tabindex="0" href="privacy-policy" target="_blank">Privacy Policy.</a></p>
        <a aria-label="Got it!" role="button" tabindex="0" id="i-accept" class="ed--btn">Got it!</a>
    </div>
    <div class="page--content">
        <section class="page--header">
            <div class="header--box p--96">
                <div class="top">
                    <div class="page--title evReveal">
                        <h1>how we work</h1>
                    </div>
                    <div class="page--desc evReveal">
                        <p>We’re committed to delivering exceptional customer service and building lasting client relationships. We aim to make your experience with us seamless and stress-free, so you can focus on what you do best.</p>
                    </div>
                </div>
                <div class="bottom">
                    <a href="#bottomSection" class="scrollTo">
                        <svg width="37" height="38" viewBox="0 0 37 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.5859 29.9604V0H20.5859V29.9604L34.1719 16.0072L36.9999 18.9117L18.5859 37.8233L0.171875 18.9117L2.99988 16.0072L16.5859 29.9604Z" fill="#2C2422" />
                        </svg>
                    </a>
                </div>
            </div>
        </section>
        <section id="bottomSection" class="strategy-design-development pb--64">
            <div class="container">
                <div class="collapse--group p--96 pb--0">
                    <div class="collapse--penal p--96 pt--0 flex align-items-start">
                        <h3 class="title width--50">Strategy.</h3>
                        <div class="content--group border--top pt--48 width--50">
                            <div class="content flex justify-content-between">
                                <div class="width">
                                    <p class="text--xs primary--color">Description</p>
                                    <p class="text--md">The Evince Team evaluates project requirements, creates a concept and end-user flow diagram, and articulates backend functionalities. The development phase starts after client approval of Research & Concept documentation.</p>
                                </div>
                                <div class="width">
                                    <p class="text--xs primary--color">Outcome</p>
                                    <p class="text--md">Clear project goals and expectations through specified objectives.</p>
                                </div>
                            </div>
                            <div class="listing">
                                <ul>
                                    <li>Understand client requirements</li>
                                    <li>Check the feasibility of modules/milestones</li>
                                    <li>Review references or do competitor analysis</li>
                                    <li>Schedule kick-off and specify required details</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="collapse--penal p--96 pt--0 flex align-items-start">
                        <h3 class="title width--50">Design.</h3>
                        <div class="content--group border--top pt--48 width--50">
                            <div class="content flex justify-content-between">
                                <div class="width">
                                    <p class="text--xs primary--color">Description</p>
                                    <p class="text--md">The Evince UX Design team improves the product's visual experience to increase conversion rates and customer feedback. After client approval of the design, the team implements the User Interface and presents a demo for feedback.</p>
                                </div>
                                <div class="width">
                                    <p class="text--xs primary--color">Outcome</p>
                                    <p class="text--md"> Consumer-centric UI/UX creating brand value.</p>
                                </div>
                            </div>
                            <div class="listing">
                                <ul>
                                    <li>Conduct user research and analysis to inform design decisions.</li>
                                    <li>Create wireframes and prototypes to test design concepts.</li>
                                    <li>Iterate designs based on user feedback and testing results.</li>
                                    <li>Ensure designs are accessible and user-friendly for all users.</li>
                                    <li>Develop a consistent visual language and brand identity.</li>
                                    <li>Collaborate with the development team to ensure the technical feasibility of designs.</li>
                                    <li>Conduct thorough testing of the User Interface to ensure functionality and performance.</li>
                                    <li>Refine designs based on feedback from stakeholders and end-users.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="collapse--penal p--96 pt--0 flex align-items-start">
                        <h3 class="title width--50">Development.</h3>
                        <div class="content--group border--top pt--48 width--50">
                            <div class="content flex justify-content-between">
                                <div class="width">
                                    <p class="text--xs primary--color">Description</p>
                                    <p class="text--md">The Evince Backend Development team evaluates each module, creates an Entity Relationship Diagram, completes Database designing, sets up a Work Breakdown Structure (WBS), and executes independent and dependent modules.</p>
                                </div>
                                <div class="width">
                                    <p class="text--xs primary--color">Outcome</p>
                                    <p class="text--md">Custom software solutions that captivate customers' business processes.</p>
                                </div>
                            </div>
                            <div class="listing">
                                <ul>
                                    <li>Develop as per milestones/sprints/tasks</li>
                                    <li>Test and maintain bug list</li>
                                    <li>Take approval from QA & Account Manager</li>
                                    <li>Deploy on sandbox/production servers</li>
                                    <li>Resolve bugs & track them in the management system</li>
                                    <li>Provide user guides, test cases, and code to the client.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="work--process">
            <div class="container">
                <div class="title--group without--button center--text pb--64">
                    <div class="title--content">
                        <h3 class="title evReveal">EvinceDev’s Work Process</h3>
                        <p class="details text--md evReveal">Sneak Peek Behind The Scenes of Our Development Services.</p>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="switch--group width--100 flex justify-content-center pb--64">
                        <input id="onOff--switch" type="checkbox" class="switch--input">
                        <label for="onOff--switch" class="switch">
                            <span class="switch--label">Hybrid</span>
                            <span class="switch--handle"></span>
                            <span class="switch--label">Agile</span>
                        </label>
                    </div>
                    <div id="switchOn">
                        <div class="process-wrapper width--100">
                            <div class="process-container">
                                <div class="process-wrapper">
                                    <ul class="flex flex-wrap">
                                        <li style="--delay: 0s">
                                            <span>01</span>
                                            <label>Research</label>
                                        </li>
                                        <li style="--delay: 1s">
                                            <span>02</span>
                                            <label>Wireframe</label>
                                        </li>
                                        <li style="--delay: 2s">
                                        </li>
                                        <li style="--delay: 3s">
                                            <label>Brand</label>
                                            <label>Visual</label>
                                        </li>
                                        <li style="--delay: 4s">
                                            <span>03</span>
                                            <label>Designing</label>
                                        </li>
                                        <li style="--delay: 5s">
                                            <span>04</span>
                                            <label>Development</label>
                                        </li>
                                        <li style="--delay: 6s">
                                            <span>05</span>
                                            <label>Testing</label>
                                        </li>
                                        <li style="--delay: 7s">
                                        </li>
                                        <li style="--delay: 8s">
                                            <label>Validation</label>
                                            <label>User Acceptance Testing</label>
                                        </li>
                                        <li style="--delay: 9s">
                                            <span>06</span>
                                            <label>Deployment</label>
                                        </li>
                                        <li style="--delay: 10s">
                                            <span>07</span>
                                            <label>Maintenance</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="switchOff" style="display:none;">
                        <div class="process-wrapper width--100">
                            <div class="process-container">
                                <div class="process-wrapper">
                                    <ul class="flex flex-wrap">
                                        <li style="--delay: 0s">
                                            <span>01</span>
                                            <label>Ideation</label>
                                        </li>
                                        <li style="--delay: 1s">
                                            <span>02</span>
                                            <label>Sprint Teams</label>
                                        </li>
                                        <li style="--delay: 2s">
                                        </li>
                                        <li style="--delay: 3s">
                                            <label>Project Setup</label>
                                            <label>Initiation</label>
                                        </li>
                                        <li style="--delay: 4s">
                                            <span>03</span>
                                            <label>Sprint Planning</label>
                                        </li>
                                        <li style="--delay: 5s">
                                            <span>04</span>
                                            <label>Design & Development</label>
                                        </li>
                                        <li style="--delay: 6s">
                                            <span>05</span>
                                            <label>Testing & Iteration</label>
                                        </li>
                                        <li style="--delay: 7s">
                                        </li>
                                        <li style="--delay: 8s">
                                            <label>Sprint Completed</label>
                                            <label>Release</label>
                                        </li>
                                        <li style="--delay: 9s">
                                            <span>06</span>
                                            <label>Production</label>
                                        </li>
                                        <li style="--delay: 10s">
                                            <span>07</span>
                                            <label>Retirement</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--<section class="our--work">
        <div class="container-lg">
        <div class="title--group right--button flex justify-content-between align-items-center p--96 pt--64">
        <div class="title--content">
        <h3 class="title evReveal">Highlighted Projects</h3>
        <p class="details text--md evReveal">Our passion for building amazing products drives us. See what we've done lately, and let us bring that same excellence to your project!</p>
        </div>
        <div class="action--group">
        <a class="ed--btn" href="portfolio-listing">View All Work</a>
        </div>
        </div>
        <div class="portfolio--gird flex flex-wrap justify-content-between align-items-start">
        <div class="portfolio--card p--96 pt--0" data-category="custom_software">
        <div class="portfolio--group">
        <picture>
        <source srcset="assets/image/portfolio/EquibscoreBI.webp" type="image/webp">
        <img width="558" height="630" src="assets/image/portfolio/EquibscoreBI.jpg" alt="EquiScore BI">
        </picture>
        <div class="portfolio--action flex align-items-center justify-content-center">
        <a href="https://equiscorebi.com/" target="_blank"><span>EquiScore BI</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3649 4.05714L1.45567 13.9664L0.0969316 12.6077L10.0062 2.6984L0.7763 2.6984L0.776299 0.777142L13.2862 0.777143V13.287L11.3649 13.287L11.3649 4.05714Z" fill="white" />
        </svg>
        </a>
        </div>
        </div>
        <div class="portfolio--penal flex justify-content-between align-items-center">
        <h6 class="ui-widget">EquiScore BI</h6>
        <div class="text--xs text--right flex">
        <span>DaaS</span>
        </div>
        </div>
        </div>
        <div class="portfolio--card p--96 pt--0" data-category="custom_software">
        <div class="portfolio--group">
        <picture>
        <source srcset="assets/image/portfolio/OTS.webp" type="image/webp">
        <img width="558" height="630" src="assets/image/portfolio/OTS.jpg" alt="Ocean Terminal Services">
        </picture>
        <div class="portfolio--action flex align-items-center justify-content-center">
        <a href="https://www.figma.com/proto/WBkkFlCOcaWZnTc7Pqm8ZG/OTS..?node-id=85-121300&starting-point-node-id=85%3A121300" target="_blank"><span>Ocean Terminal Services</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3649 4.05714L1.45567 13.9664L0.0969316 12.6077L10.0062 2.6984L0.7763 2.6984L0.776299 0.777142L13.2862 0.777143V13.287L11.3649 13.287L11.3649 4.05714Z" fill="white" />
        </svg>
        </a>
        </div>
        </div>
        <div class="portfolio--penal flex justify-content-between align-items-center">
        <h6 class="ui-widget">Ocean Terminal Services</h6>
        <div class="text--xs text--right flex">
        <span>ERP</span>
        </div>
        </div>
        </div>
        <div class="portfolio--card p--96 pt--0" data-category="mobility">
        <div class="portfolio--group">
        <picture>
        <source srcset="assets/image/portfolio/Nternow.webp" type="image/webp">
        <img width="558" height="630" src="assets/image/portfolio/Nternow.jpg" alt="NterNow">
        </picture>
        <div class="portfolio--action flex align-items-center justify-content-center">
        <a href="https://apps.apple.com/us/app/nternow-app/id1187749768" target="_blank"><span>NterNow</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3649 4.05714L1.45567 13.9664L0.0969316 12.6077L10.0062 2.6984L0.7763 2.6984L0.776299 0.777142L13.2862 0.777143V13.287L11.3649 13.287L11.3649 4.05714Z" fill="white" />
        </svg>
        </a>
        </div>
        </div>
        <div class="portfolio--penal flex justify-content-between align-items-center">
        <h6 class="ui-widget">NterNow</h6>
        <div class="text--xs text--right flex">
        <span>Mobile App</span>
        <a href="https://play.google.com/store/apps/details?id=com.nternow.android&hl=en_IN&gl=US" target="_blank">
        <img width="20" height="20" src="assets/image/portfolio/GooglePlay.svg" alt="Google Play">
        </a>
        <a href="https://apps.apple.com/us/app/nternow-app/id1187749768" target="_blank">
        <img width="20" height="20" src="assets/image/portfolio/AppStore.svg" alt="App Store">
        </a>
        </div>
        </div>
        </div>
        <div class="portfolio--card p--96 pt--0" data-category="custom_software">
        <div class="portfolio--group">
        <picture>
        <source srcset="assets/image/portfolio/Clymb.webp" type="image/webp">
        <img width="558" height="630" src="assets/image/portfolio/Clymb.jpg" alt="Clymb">
        </picture>
        <div class="portfolio--action flex align-items-center justify-content-center">
        <a href="https://clymbup.io/" target="_blank"><span>Clymb</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3649 4.05714L1.45567 13.9664L0.0969316 12.6077L10.0062 2.6984L0.7763 2.6984L0.776299 0.777142L13.2862 0.777143V13.287L11.3649 13.287L11.3649 4.05714Z" fill="white" />
        </svg>
        </a>
        </div>
        </div>
        <div class="portfolio--penal flex justify-content-between align-items-center">
        <h6 class="ui-widget">Clymb</h6>
        <div class="text--xs text--right flex">
        <span>SaaS</span>
        </div>
        </div>
        </div>
        <div class="portfolio--card p--96 pt--0" data-category="e_Commerce">
        <div class="portfolio--group">
        <picture>
        <source srcset="assets/image/portfolio/ChromeIndustries.webp" type="image/webp">
        <img width="558" height="630" src="assets/image/portfolio/ChromeIndustries.jpg" alt="Chrome Industries">
        </picture>
        <div class="portfolio--action flex align-items-center justify-content-center">
        <a href="https://chromeindustries.com/" target="_blank"><span>Chrome Industries</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3649 4.05714L1.45567 13.9664L0.0969316 12.6077L10.0062 2.6984L0.7763 2.6984L0.776299 0.777142L13.2862 0.777143V13.287L11.3649 13.287L11.3649 4.05714Z" fill="white" />
        </svg>
        </a>
        </div>
        </div>
        <div class="portfolio--penal flex justify-content-between align-items-center">
        <h6 class="ui-widget">Chrome Industries</h6>
        <div class="text--xs text--right flex">
        <span>eCommerce</span>
        </div>
        </div>
        </div>
        <div class="portfolio--card p--96 pt--0" data-category="e_Commerce">
        <div class="portfolio--group">
        <picture>
        <source srcset="assets/image/portfolio/koolfly.webp" type="image/webp">
        <img width="558" height="630" src="assets/image/portfolio/koolfly.jpg" alt="koolfly">
        </picture>
        <div class="portfolio--action flex align-items-center justify-content-center">
        <a href="https://www.koolfly.com/el-gr/" target="_blank"><span>Koolfly</span>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3649 4.05714L1.45567 13.9664L0.0969316 12.6077L10.0062 2.6984L0.7763 2.6984L0.776299 0.777142L13.2862 0.777143V13.287L11.3649 13.287L11.3649 4.05714Z" fill="white" />
        </svg>
        </a>
        </div>
        </div>
        <div class="portfolio--penal flex justify-content-between align-items-center">
        <h6 class="ui-widget">Koolfly</h6>
        <div class="text--xs text--right flex">
        <span>eCommerce</span>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section>

        <section class="big--brands pt--0">
        <div class="container">
        <div class="wrapper flex align-items-center justify-content-between p--96 pt--190">
        <div class="title--group without--button width--50 pr--150">
        <div class="title--content">
        <h3 class="title evReveal">Our Clients</h3>
        <p class="details text--md evReveal">From small brands to world-renowned companies, we've helped them all. Let us help you too!</p>
        </div>
        </div>
        <div class="brands--group three--col flex flex-wrap width--50">
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/Ministry_of_Interiors.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/Ministry_of_Interiors.jpg" alt="Ministry of Interiors"></picture></div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/inception.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/inception.jpg" alt="Inception"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/Reverb.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/Reverb.jpg" alt="Reverb"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/Nutrabloom.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/Nutrabloom.jpg" alt="Nutrabloom"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/Koolfly.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/Koolfly.jpg" alt="Koolfly"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/Trimax.webp" type="image/webp"><img width="100" height="56" src="assets/image/big-brands/Trimax.jpg" alt="Trimax"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/Getaway.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/Getaway.jpg" alt="Getaway"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/London_Waste_Management.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/London_Waste_Management.jpg" alt="London Waste Management"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/BB_Dakota.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/BB_Dakota.jpg" alt="BB Dakota"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/EquiBiScore.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/EquiBiScore.jpg" alt="EquiBiScore"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/Compare_your_repair.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/Compare_your_repair.jpg" alt="Compare Your Repair"></picture> </div>
        <div class="brand--card"> <picture><source srcset="assets/image/big-brands/Chrome_Industries.webp" type="image/webp"><img width="240" height="136" src="assets/image/big-brands/Chrome_Industries.jpg" alt="Chrome Industries"></picture> </div>
        </div>
        </div>
        </div>
        </section>-->

        <section class="big--cta p--0">
            <div class="container">
                <div class="cta--group flex flex-wrap justify-content-center border--top">
                    <div class="big--heading">Got a project?</div>
                    <a class="arrow--wrapper" href="contact-us">
                        <div class="big--heading">Let’s talk</div>
                        <div class="arrow--icon">
                            <div class="c--icon">
                                <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#1E1E1E" />
                                </svg>
                            </div>
                            <div class="c--icon hover--icon">
                                <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M48.3354 12.6169H6.86558V1H67V64.8929H56.0665V20.8313L10.7312 69L3 60.7857L48.3354 12.6169Z" fill="#4CAB72" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        @Html.Partial("/Views/Shared/_Footer.cshtml")

        <script type="text/javascript">
            const mediaQuery = window.matchMedia("(min-width: 991px)");
            if (mediaQuery.matches) {

                const allTitles = gsap.utils.toArray('.collapse--penal');
                let offsets;
                let totalOffset;

                function calculateOffsets() {
                    totalOffset = 120;
                    offsets = allTitles.map(title => {
                        let prev = totalOffset;
                        totalOffset += title.querySelector(".title").offsetHeight;
                        return prev;
                    });
                }
                calculateOffsets();
                window.addEventListener("resize", calculateOffsets);

                allTitles.forEach((title, i) => {
                    let heading = title.querySelector(".title");
                    ScrollTrigger.create({
                        trigger: heading,
                        endTrigger: ".collapse--group",
                        start: () => "top " + offsets[i],
                        end: () => "bottom " + totalOffset,
                        pin: heading,
                        pinSpacing: false,
                        // markers: true,
                        invalidateOnRefresh: true,
                    });
                });

            }
        </script>
    </div>
</div>
</div>